.contacts-wrap {
	min-height: calc(100vh - 65px);
	display: flex;
	flex-direction: row;
    justify-content: flex-end;

	.contact-info-wrap {
		width: auto;
        min-height: calc(100vh - 65px);
		height: 100%;
	    display: flex;
	    flex-direction: column;
        justify-content: center;

        color: color(text-blue);
        
        .contact-info-blocks {
            box-sizing: border-box;
        }
        
        .contact-info-block {
            padding-left: (2 * $spacer);
            padding-right: (2 * $spacer);
            padding-top: 45px;
            margin-bottom: 40px;
            
            width: $grid-column-large;
            box-sizing: border-box;
            
            @include media-below($break-large) {
                padding-left: ($spacer);
                padding-right: ($spacer);
                width: $grid-column-medium;
                background-position: ($spacer) top !important;
            }            
            @include media-below($break-medium) {
                padding-left: 0;
                padding-right: 0;
                width: $grid-column-small;
                background-position: 0 top !important;
            }

            .underline {
                text-decoration: underline
            }

            background-position: (2 * $spacer) top !important;
            &.info-rows {
                background: url('img/location_pin.svg') no-repeat;
                background-size: 12px 17px;
            }
            &.link-rows {
                background: url('img/message.svg') no-repeat;
                background-size: 14px 13px;
            }
            &.linkedin {
                background: url('img/linkedin.svg') no-repeat;
                background-size: 13px 13px;
            }
        }

		h2 {
			margin-top: 0;
			width: auto;
		}
	}
	.map-holder {

		display: flex;
		height: 100%;
		width: 64%;
		position: relative;
	}
	#map {
		position: absolute;
		top: 0;
		left: 0;

		height: calc(100vh - 65px);
		width: 100%;
	}
}

@include media-below($break-medium) {
    .contacts-wrap {
        flex-direction: column;
        justify-content: flex-start;
        .contact-info-wrap {
            min-height: 0;
            width: $content-width-small;
            margin: 0 auto;
            margin-top: 2 * $spacer;
            height: auto;
            justify-content: flex-start;
            align-self: flex-start;
            flex-direction: row;
            flex-wrap: wrap;

            .grid-content-header {
                width: 100%;
                margin-bottom: 2 * $spacer;
            }

            .contact-info-blocks {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }
        }
        .map-holder {
            width: 100%;
        }
        #map {
            position: absolute;
            top: 0;
            left: 0;

            height: 80vh;
            width: 100%;
        }
    }
}
@include media-below($break-small) {
    .contacts-wrap {
        flex-direction: column;
        justify-content: flex-start;
        .contact-info-wrap {
            width: calc(100% - 40px);
            height: auto;
            align-self: flex-start;
            flex-direction: column;

            .grid-content-header {
                width: 100%;
                margin-bottom: 2 * $spacer;
            }

            .contact-info-blocks {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
        }
    }
}