// ==== CONFIGURATION ==== //


$_color: (
    text:           		#7f7f7f,
    text-blue:              #1f467e,
    text-dark-blue:			#24345f,
    text-copyright:         #5b74ab,
    
    grey:					#c9ccd5,
    green:       			#67bf79,
    light-green:  			#0cc883,

    white:         			#ffffff,
    
    burger-menu-bg: 		#29335a,
    burger-menu-border: 	#37426e,

    header-color:  			#23325b,
    footer-color:  			#23325b,

    table-header-border:    #c9c9c9,
    table-border:           #e3e3e3,

    pagination-light:       #b0b0b0,
    pagination-dark:        #7f7f7f,

    recent-news-header:     #8a8a8a
);

// Breakpoints
$break-small:           768px;
$break-medium:          1024px;
$break-large:           1368px;

$spacer:                25px;
$spacer-small:          20px;

$content-width-large:   1335px;
$content-width-medium:  920px;
$content-width-small:   665px;

$grid-column-large:     395px;
$grid-column-medium:    290px;
$grid-column-small:     210px;




@font-face {
    font-family: 'Avenir';
    src: url('fonts/Radikal_gdi.eot');
    src: url('fonts/Radikal_gdi.eot?#iefix') format('embedded-opentype'),
         url('fonts/Radikal_gdi.woff') format('woff'),
         url('fonts/Radikal_gdi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Avenir Roman';
    src: url('fonts/Radikal-Bold_gdi.eot');
    src: url('fonts/Radikal-Bold_gdi.eot?#iefix') format('embedded-opentype'),
         url('fonts/Radikal-Bold_gdi.woff') format('woff'),
         url('fonts/Radikal-Bold_gdi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}