footer {
    background: color(footer-color);
    color: color(white);
    .underline {
        text-decoration: underline;
    }
    .copyrights {
        height: 60px;
        color: color(text-copyright);
        font-size: 11px;
        letter-spacing: 0.075em;
        line-height: 60px;
    }

    .post-block {
        padding-top: 45px;
        background-position: (2 * $spacer) top !important;
        &.info-rows {
            background: url('img/location_pin.svg') no-repeat;
            background-size: 12px 17px;
        }
        &.link-rows {
            background: url('img/message.svg') no-repeat;
            background-size: 14px 13px;
        }
        &.linkedin {
            background: url('img/linkedin.svg') no-repeat;
            background-size: 13px 13px;
        }
    }

    .contact-wrap {
        background-size: cover;
        background-position: center bottom;
    }
}

@include media-below($break-large) {
    footer {
        .post-block {
            background-position: $spacer top !important;
        }
    }
}
@include media-below($break-medium) {
    footer {
        .post-block {
            background-position: left top !important;

            &.bg-padding {
                background-position: $spacer-small top !important;
            }
        }
    }
}
@include media-below($break-small) {
    footer {
        .post-blocks {
            margin-top: 2 * $spacer;
        }
        .post-block {
            &.bg-padding {
                background-position: left top !important;
            }
        }
    }
}