// ==== GENERAL ==== //

html {
  font-size: 14px;
}
body {
    background: color(white);
    color: color(text);
    font-family: "Avenir", Helvetica, Arial;
    line-height: 1.44444em;
    letter-spacing: 0.025em;

    &.page, &.single {
        padding-top: 65px;
    }
    &.large-padding {
        padding-top: 107px;
    }
    &.home {
        padding-top: 0 !important;
    }
}
.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden; 
}
.fixed {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.22222;
  letter-spacing: 0.01em;
  color: color(text-blue);
}

a {
  border: 0;
  color: inherit;
  text-decoration: none;
  transition: color .8s ease-out;
}

figure {
  margin: 0;
}
img {
  height: auto;
  max-width: 100%;
}


.scroll-to {
    width: 46px;
    height: 46px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    cursor: pointer;
    z-index: 2;

    .bg {
        width: 46px;
        height: 46px;
        top: 50%;
        left: 50%;
        position: absolute;
        background: url('img/plane.svg') no-repeat center;
        background-size: cover;
        transform: translateX(-50%) translateY(-50%) rotate(180deg);
        opacity: 1;
        transition: transform .3s, opacity .3s ease;
        cursor: default;

    }
    .text {
        position: absolute;
        top: 0%;
        left: 50%;
        width: 130px;
        font-size: 16px;
        color: color(text-dark-blue);
        line-height: 18px;
        letter-spacing: 0.075em;
        text-align: center;
        transform: translateX(-50%) translateY(-100%);
        opacity: 0;
        transition: transform .3s, opacity .3s, top .3s ease;
    }

    &:hover:not(.bg):not(.text) {
        .bg {
            opacity: .0;
            transform: translateX(-50%) translateY(50%) rotate(180deg);
        }
        .text {
            top: 50%;
            opacity: 1;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

.content-wrap-text {
    &.margin-bottom {
        margin-bottom: 30px;
    }
}

.content-wrap-text h1, 
.content-wrap-text h2, 
.content-wrap-text h3, 
.content-wrap-text h4, 
.content-wrap-text h5, 
.content-wrap-text h6, {
    opacity: 1 !important;
    transform: none !important;
    margin-top: 70px;
}
.grid-content-header,
.content-wrap-text h1, 
.content-wrap-text h2, 
.content-wrap-text h3, 
.content-wrap-text h4, 
.content-wrap-text h5, 
.content-wrap-text h6, 
{
    color: color(text-blue);
    font-size: 36px;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    max-width: 375px;
    position: relative;
    margin-bottom: 40px;

    &.show {
        opacity: 1;
        transform: translateX(0%);
    }
    &.hide {
        opacity: 0;
        transform: translateX(-10%);
    }

    transform: translateX(-10%);
    opacity: 0;
    transition: opacity .2s .1s ease, transform .3s .1s cubic-bezier(.17,.67,.46,1);

    &.top-margin {
        margin-top: 70px;
    }
    &.top-large-margin {
        margin-top: 100px;
    }

    &.white {
        color: color(white);
    }
    &.long {
        max-width: 395px;
    }
    &.green-border {
        padding-bottom: 20px;
        margin-bottom: 80px;
        font-size: 50px;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 95px;
            height: 2px;
            background: color(light-green);
        }
    }

    @include media-below($break-large) {
        font-size: 36px;
        &.green-border {
            font-size: 45px;
        }
        &.top-large-margin {
            margin-top: 75px;
        }
    }

    @include media-below($break-small) {
        font-size: 20px; 
        &.top-margin {
            margin-top: 20px;
        }
        &.top-large-margin { 
            margin-top: 40px;
        }
        &.green-border {
            font-size: 36px; 
            margin-bottom: 20px;
        }
    }
}

.arch-top {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    margin-top: -30px;
    z-index: 5;
    .arch {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);    
        width: 130%; 
        height: 150px; 
        background-color: color(white);
        background-size: 70% auto;
        background-repeat: no-repeat; 
        background-position: right top;
        border-radius: 105% / 150px;
    }
}
.arch-mask {
    width: 100%;
    height: 29px;
    background: url('img/arch_mask.png') no-repeat center;
    background-size: 105% 100%;
    position: absolute;
    top: 0;
    left: 0; 
}

.read-more a{
    border: 2px solid color(light-green);
    line-height: 17px;
    padding: 9px 23px;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
    letter-spacing: 0.025em;
    display: inline-block;
    position: relative;
    border-radius: 33px;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0);
    transition : box-shadow .3s, background .3s, color .3s ease;

    &:hover {
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,.2);
        background: color(light-green);
        color: color(white);
    }

    &.white {
        color: color(white);
    }
}

.indent,
.content-wrap-text > ul,
.content-wrap-text > p,
.content-wrap-text > ol,
.content-wrap-text > div,
{
    max-width: 525px;
    padding-left: 2 * $spacer;

    @include media-below($break-medium) {
        padding-left: 0;
    }
}

@import "_post_blocks";
@import "_page_top_slider";
@import "_table";
@import "_news_block";
@import "_stats_graph";
@import "_post_page";
@import "_contact_page";
@import "_location_map";
@import "_mobile_popup";