// ==== LAYOUT ==== //

.content-wrap {
    width: $content-width-large;
    margin: 0 auto;

    &.padding {
        padding: 0 (3 * $spacer);
    }
}
.grid-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 (3*$spacer);
    box-sizing: border-box;

    &.no-flex {
        display: block;
    }
}
.grid-col {
    width: $grid-column-large;
}
.grid-col-full {
    width: 100%;
}

.space-below {
    margin-bottom: 2 * $spacer;
}

@include media-below($break-large) {
    .content-wrap {
        width: $content-width-medium;
        &.padding {
            padding: 0 0;
        }
    }
    .grid-col {
        width: $grid-column-medium;
    }
    .grid-row {
         padding: 0 0;
    }
}
@include media-below($break-medium) {
    .content-wrap {
        max-width: $content-width-small;
        width: auto;
        padding: 0 (2 * $spacer);
    }
    .grid-col {
        width: $grid-column-small;
    }
}
@include media-below($break-small) {
    .content-wrap {
        max-width: none !important;
        width: auto;
        padding: 0 $spacer;
    }
    .grid-col {
        width: 100%;
    }
}