.location-map {
	width: 100%;
	height: 700px;
	margin-top: 40px;
	position: relative;

	&.desktop {
		display: block;
	}
	&.mobile {
		display: none;
	}

	@include media-below($break-medium) {
		&.desktop {
			display: none;
		}
		&.mobile {
			display: block;
			height: auto;
			margin-bottom: 0;
		}
	}
    &.kaunas-map {
        .map-bg {
            svg {
                width: auto;
                height: 100%;
            }
        }    
    }
    &.europe-map {
        .map-bg {
            svg {
                width: 1079px;
                height: auto;
                top: 30%;
                transform: translateY(-40%);
                @include media-below($break-large) {
                	width: 80%;
                    top: 28%;
                }
            }
        }
    }
	.map-bg {
		width: 100%;
		height: 100%;
		position: relative;
		svg {
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
			height: 100%;

			path {
				transition: fill .5s, stroke .5s ease;
			}
		}

		.map-tab {
			position: absolute;

			&.active {
				&.box {
					opacity: 1;
				}
				&.tooltip {
					&.kaunas {
						.map-popup {
							border-bottom: none;
						}
					}
					&.aerohub {
						.map-popup {
							border-top: none;
						}
					}
					&.kaunas, &.aerohub {					
						.map-popup {
							border-color: #1ac08e;
							background: rgba(26,192,142, .1);

							.text {
								color: #1ac08e;
							}
							&:after { 
								background: #1ac08e;
							}
							.arrow {
								border-color: transparent rgba(26,192,142, .1) transparent transparent;

								&:before, &:after {
									background: #1ac08e;
								}
							}

						}
					}
				}
			}


			&.box{
				opacity: 0;
				transition: opacity .5s ease;
			}

			&.box {
				font-size: 15px;
				color: color(white);
				width: 40px;
				height: 22px;
				text-align: center;
			    line-height: 23px;
				background: #00c27b;
			}
			&.tooltip {
				.map-popup {
					transition: border-color .5s, background .5s ease;
					.text {
						transition: color .5s ease;
					}

					&:after { 
						transition: background .5s ease;
					}
					.arrow {
						transition: border-color .5s ease;

						&:before, &:after {
							transition: background .5s ease;
						}
					}

				}
		        .logo {
		            width: 100%;
		            height: 66px;
		            background: url('img/logo_blue.svg') no-repeat center;
		            background-size: 133px 36px;
		        }

			    &.aerohub {
			    	.map-popup {
			    		width: 175px;
			    		height: 65px;
			    		border: 2px solid #667eba;
			    		background: rgba(102,126,186, .3);
			    		border-top: none;

				        &:after {
				            content: "";
				            position: absolute;
				            top: 0px;
				            right: 0;
				            width: calc(100% - 15px);
				            height: 2px;
				            background: #667eba;
				        }
    			        .arrow {
				            position: absolute;
				            left: 2px;
				            top: -12px;
				            width: 0;
				            height: 0;
				            border-style: solid;
				            border-width: 0 12px 12px 0;
				            border-color: transparent rgba(102,126,186, .3) transparent transparent;
			            	transform: rotate(180deg);
				            &:before {
				                content: "";
				                position: absolute;
				                height: 14px;
				                width: 2px;
				                background: #667eba;
				                right: -14px;
				                top: 0;
				            }
				            &:after {
				                content: "";
				                position: absolute;
				                height: 21px;
				                width: 2px;
				                background: #667eba none repeat scroll 0% 0%;
				                right: -7px;
				                top: -4px;
				                transform: rotate(-45deg);
				            }
				        }
			    	}
			    }
			    &.kaunas {
			    	.map-popup {
			    		width: 79px;
			    		height: 32px;
			    		border: 2px solid #7d9ae8;
			    		background: rgba(125,154,232, .3);
			    		border-bottom: none;

				        &:after {
				            content: "";
				            position: absolute;
				            bottom: 0px;
				            left: 0;
				            width: calc(100% - 10px);
				            height: 2px;
				            background: #7d9ae8;
				        }
				        .text {
				        	color: #2b3153;
				        	font-size: 15px;
				        	height: 32px;
						    line-height: 32px;
						    text-align: center;
				        }
    			        .arrow {
				            position: absolute;
				            right: 0px;
				            bottom: -6px;
				            width: 0;
				            height: 0;
				            border-style: solid;
				            border-width: 0 14px 6px 0;
				            border-color: transparent rgba(125,154,232, .3) transparent transparent;
				            &:before {
				                content: "";
				                position: absolute;
				                height: 8px;
				                width: 2px;
				                background: #7d9ae8;
				                right: -14px;
				                top: 0;
				            }
				            &:after {
				                content: "";
				                position: absolute;
				                height: 13px;
				                width: 2px;
				                background: #7d9ae8 none repeat scroll 0% 0%;
				                right: -9px;
				                top: -3px;
				                transform: rotate(-45deg);
				            }
				        }
			    	}
			    }
			}
		}
	}

	.map-clouds {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('img/kaunas_map/clouds.png') no-repeat left top;
		background-size: cover;
	}

	.location-tabs {
		position: absolute;
		height: 100%;
		width: auto;
		top: 0; 
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;

		margin-left: 60px;
		width: 305px;
	}
	.location-tab {
		color: #667ebe;
		padding-left: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
		font-size: 18px;

		border-left: 2px solid #667ebe;

		margin-bottom: 25px;
		line-height: 1em;

		box-sizing: border-box;
		min-width: 340px;
		height: 95px;
		position: relative;
		cursor: pointer;

		transform: translateX(0px);
		transition: color .3s ease-in, transform .3s ease-in-out, border-left .3s ease;

		&:before, &:after {
			content: "";
			position: absolute;
			width: calc(100% - 33px);
			height: 2px;
			left: 0;
			background: #667ebe;
			transition: background .3s ease;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}

		.arrow {
			position: absolute;
			top: 2px;
			height: calc(100% - 4px);
			right: 0;		
			&:before,&:after {
				content: "";
				position: absolute;
				right: 15px;
				width: 2px;
				height: 58px;
				background: #667ebe;
				transition: background .3s ease;
			}
			&:before {
				top: -7px;
				transform: rotate(-35deg);
			}
			&:after {
				bottom: -7px;
				transform: rotate(35deg);
			}
		}

        &:hover, &.active {
            color: #00c17d;
            border-left: 2px solid #00c17d;

            &:before, &:after {
                background: #00c17d;
            }

            .arrow {
                &:before,&:after {
                    background: #00c17d;
                }
            }
        }
		&.active {
			transform: translateX(30px);
		}
	}
    
    overflow: hidden;

    .circle-holder {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: visible;

        .circle {
            border: 1px solid #d7d8d8;
            border-radius: 50%;
            width: 1200px;
            height: 1200px;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            
            $circle-1-bg-0: rgba(30, 42, 74, 0);
            $circle-1-bg-1: rgba(30, 42, 74, 1);

            $circle-2-bg-0: rgba(32, 47, 85, 0);
            $circle-2-bg-1: rgba(32, 47, 85, 1);

            $circle-3-bg-0: rgba(32, 48, 89, 0);
            $circle-3-bg-1: rgba(32, 48, 89, 1);

            &.circle-1 {            
                box-shadow: 0px 0px 100px 1px rgba(255,255,255,0.8);
            }
            &.circle-2 {            
                box-shadow: 0px 0px 200px 50px rgba(255,255,255,0.8);
            }
            &.circle-3 {            
                box-shadow: 0px 0px 200px 50px rgba(255,255,255,0.8);
            }            

            transform: translate3d(-50%, -50%, 0) scale(0);
            transition: opacity .3s, transform 3s ease-out;

        }
        @keyframes circle-animation {
            0% { 
                opacity: 0; 
                transform: translate3d(-50%, -50%, 0) scale(0);
            }                   
            5% { 
                opacity: 1; 
            }                                      
            100% { 
                opacity: .8;
                transform: translate3d(-50%, -50%, 0) scale(1); 
            }                   
        }
        &.animate {
            .circle-1 {
                width: 78vw;
                height: 78vw;
                animation-name: circle-animation;
                animation-duration: 1s;
                animation-delay: 0s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.27,.66,.24,1);

            }
            .circle-2 {
                width: calc(78vw - 80px);
                height: calc(78vw - 80px);
                animation-name: circle-animation;
                animation-duration: 2s;
                animation-delay: .5s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.27,.66,.24,1);
            }
            .circle-3 {
                width: calc(78vw - 200px);
                height: calc(78vw - 200px);
                animation-name: circle-animation;
                animation-duration: 3s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.27,.66,.24,1);
            }
        }
    }
    
    $circle-r: 62px;
    $circle-border: 2px;
    $circle-animation: 1s;

    .text-circle-wrapper {
        width: $circle-r;
        height: $circle-r;
        position: absolute;
        clip: rect(0px, $circle-r, $circle-r, ($circle-r/2)); 

        left: 53vw;
        bottom: 46px;

        .text-block {
            width: $circle-r - (2 * $circle-border);
            height: $circle-r - (2 * $circle-border);
            border-radius: 50%;
            background: #eff0f0;
            text-align: center;
            position: relative;
            top: $circle-border;
            left: $circle-border;
            opacity: 0;

            transition: opacity .3s ease-in;
            .text-holder {
                font-family: 'Avenir Roman';
                font-size: 12px;
                color: #777777;
                text-transform: uppercase;
                letter-spacing: 0.075em;
                line-height: 14px;
                width: 38px;

                position: relative;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                .small {
                    font-size: 8px;
                    line-height: 12px;
                    letter-spacing: 0.05em;
                }
            }

        }
    }
    .text-circle {
        width: $circle-r - (2 * $circle-border);
        height: $circle-r - (2 * $circle-border);
        border: $circle-border solid #cacaca;
        border-radius: 50%;
        position: absolute;
        clip: rect(0px, ($circle-r/2), $circle-r, 0px);
    }
    @keyframes close-wrapper {
        to { clip: rect(0px, $circle-r, $circle-r, 0px); }
    }

    div[data-anim~=base] {
        animation-iteration-count: 1; 
        animation-fill-mode: forwards; 
        animation-timing-function:linear;
    }

    .text-circle-wrapper[data-anim~=wrapper].animate {
        animation-duration: 0.01s;
        animation-delay: ($circle-animation/2); /* Wait half of the animation */
        animation-name: close-wrapper;
        .text-circle[data-anim~=left] {
            animation-duration: $circle-animation; /* Full animation time */
            animation-name: left-spin;
        }

        .text-circle[data-anim~=right] {
            animation-duration: ($circle-animation/2); /* Half animation time */
            animation-name: right-spin;
        }
        .text-block {
            opacity: 1;
            transition: opacity .3s $circle-animation ease-in;
        }
    }

    @keyframes right-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(180deg); }
    }
    @keyframes left-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    .map-tab {    
        position: absolute;
        .map-popup {
            width: 79px;
            height: 30px;
            border: 2px solid #7d9ae8;
            background: rgba(125,154,232, .3);
            transition: border .5s, background .5s ease;
            .text {
                color: #2b3153;
                font-size: 15px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                transition: color .5s ease;
            }
            &:after {
                content: "";
                position: absolute;
                height: 2px;
                background: #7d9ae8;
                transition: background .5s ease;
            }
            .arrow {
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 14px 6px 0;
                border-color: transparent rgba(125,154,232, .3) transparent transparent;
                transition: border-color .5s ease;
                &:before {
                    content: "";
                    position: absolute;
                    height: 8px;
                    width: 2px;
                    background: #7d9ae8;
                    transition: background .5s ease;
                }
                &:after {
                    content: "";
                    position: absolute;
                    height: 13px;
                    width: 2px;
                    background: #7d9ae8 none repeat scroll 0% 0%;
                    transition: background .5s ease;
                }
            }
        }
        
        &.active {
            .map-popup {
                border: 2px solid color(light-green);
                background: color(white);
                
                &:after {
                    background: color(light-green);
                }
                .text {
                    color: color(light-green);
                }
                .arrow {
                    border-color: transparent color(white) transparent transparent;
                    
                    &:before, &:after {
                        background: color(light-green);
                    }
                }
            }
        }

        &.bottom-right {
            .map-popup {
                border-bottom: none;
                &:after {
                    bottom: 0px;
                    left: 0;
                    width: calc(100% - 10px);
                }
                .arrow {
                    right: 0px;
                    bottom: -6px;
                    &:before {
                        right: -14px;
                        top: 0;
                    }
                    &:after {
                        right: -9px;
                        top: -3px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        &.bottom-left {
            .map-popup {
                border-bottom: none;
                &:after {
                    bottom: 0px;
                    right: 0;
                    width: calc(100% - 10px);
                }
                .arrow {
                    left: 0px;
                    bottom: -14px;
                    border-width: 14px 10px 0 0;
                    border-color: rgba(125,154,232, .3) transparent transparent transparent;
                    transform: rotate(0deg);
                    &:before {
                        left: 0px;
                        top: -14px;
                    }
                    &:after {
                        left: 4px;
                        top: -17px;
                        height: 14px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        &.top-left {
            .map-popup {
                border-top: none;
                &:after {
                    top: 0px;
                    right: 0;
                    width: calc(100% - 10px);
                }
                .arrow {
                    left: 0px;
                    top: -6px;
                    transform: rotate(180deg);
                    &:before {
                        right: -14px;
                        top: 0;
                    }
                    &:after {
                        right: -9px;
                        top: -3px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        &.amsterdam {
            .map-popup {
                width: 100px;
            }
            
        }
    }

    &.europe-map {
        svg {
            .hide {
                opacity: 0;
            }
            circle, path, polygon, line, g {
                opacity: 1;
                transition: opacity .5s ease;
            }
        }
    }
}

.europe-map {
    .map-tab {    
        &.aerohub {
            .map-popup {
                width: 160px !important;
                height: 34px !important;
                border: none !important;
                background: color(light-green) !important;
                &:after {
                    display: none !important;
                }
                .arrow {
                    top: initial !important;
                    left: 0px !important;
                    bottom: -14px !important;
                    border-width: 14px 10px 0 0 !important;
                    border-color: color(light-green) transparent transparent transparent !important;
                    transform: rotate(0deg) !important;
                    &:before {
                        display: none !important;
                        left: 0px !important;
                        top: -14px !important;
                    }
                    &:after {
                        display: none !important;
                        left: 4px !important;
                        top: -17px !important;
                        height: 14px !important;
                        transform: rotate(45deg) !important;
                    }
                }
                .logo {
                    height: 34px !important;
                    background: url('img/logo_m.svg') no-repeat center !important;
                    background-size: 127px 10px !important;
                }
            }
        }
    }
}


.about-slides-wrap {
	display: block;
    margin-top: 90px;
    width: 100%;
    height: 0;
    padding-bottom: 46.875%;
    border-bottom: 1px solid color(white);

    position: relative;
    .about-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    	opacity: 0;
        background-size: cover;
        background-repeat: no-repeat;
        transition: opacity .5s ease-in;
        z-index: 1;
        .svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &.active {
        	z-index: 2;
            opacity: 1;

            .tooltip {
            	cursor: pointer;
            }
        }
        &.north {
            background-image: url('img/about/north.jpg');
            background-position: left center;

            .tooltip-1 { top: 260px; left: 325px; }
            .tooltip-2 { top: 200px; left: 600px; }
        }
        &.east {
            background-image: url('img/about/east.jpg');
            background-position: center;

            .tooltip-1 { top: 260px; left: 325px; }
            .tooltip-2 { top: 200px; left: 50%; }
            .tooltip-3 { top: 200px; left: 50%; }
        }
        &.south {
            background-image: url('img/about/south.jpg');
            background-position: right center;

            .tooltip-1 { top: 260px; left: 325px; }
            .tooltip-2 { top: 200px; left: 50%; }

            .svg {
                background-image: url('img/about/south.svg');
            }
        }
        &.west {
            background-image: url('img/about/west.jpg');
            background-position: right center;

            .tooltip-1 { top: 260px; left: 325px; }
            .tooltip-2 { top: 200px; left: 50%; }
            .tooltip-3 { top: 200px; left: 50%; }
        }

    }

    .navigation {
        position: absolute;
        top: 50px;
        right: 75px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 3;
        .item {
            box-sizing: border-box;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 3px solid color(white);
            margin-bottom: 20px;

            text-align: center;
            line-height: 41px;
            color: color(white);
            font-size: 12px;

            cursor: pointer;
            transition: border .15s ease-in, color .15s ease-in;

            &:hover, &.active {
                border: 3px solid color(light-green);
                color: color(light-green);
            }
        }
    }

    .compass {
        position: absolute;  
        top: 75px;
        left: 75px;

        height: 42px;
        width: 42px;
        box-sizing: border-box;
        border: 7px solid color(white);
        border-radius: 50%;
        z-index: 3;
        
        backface-visibility: hidden;
        transform: translate3d(0, 0, 0) rotate(0deg);
        transition: transform 1s cubic-bezier(.55,.98,.04,1.89);
        
        &.south {
            transform: translate3d(0, 0, 0) rotate(-180deg);
            .item.north .text {
                transform: translate3d(0, 0, 0) rotate(180deg);
            }
            .item.west .text {
                transform: translate3d(0, 0, 0) rotate(180deg);
            }
            .item.south .text {
                transform: translate3d(0, 0, 0) rotate(180deg);
            }
            .item.east .text {
                transform: translate3d(0, 0, 0) rotate(180deg);
            }

        }          
        &.east {
            transform: translate3d(0, 0, 0) rotate(-90deg);
            .item.north .text {
                transform: translate3d(0, 0, 0) rotate(90deg);
            }
            .item.west .text {
                transform: translate3d(0, 0, 0) rotate(90deg);
            }
            .item.south .text {
                transform: translate3d(0, 0, 0) rotate(90deg);
            }
            .item.east .text {
                transform: translate3d(0, 0, 0) rotate(90deg);
            }

        }        
        &.west {
            transform: translate3d(0, 0, 0) rotate(90deg);
            .item.north .text {
                transform: translate3d(0, 0, 0) rotate(-90deg);
            }
            .item.west .text {
                transform: translate3d(0, 0, 0) rotate(-90deg);
            }
            .item.south .text {
                transform: translate3d(0, 0, 0) rotate(-90deg);
            }
            .item.east .text {
                transform: translate3d(0, 0, 0) rotate(-90deg);
            }

        }
        
        &.north {
            transform: translate3d(0, 0, 0) rotate(0deg);
            .item.north .text {
                transform: translate3d(0, 0, 0) rotate(0deg);
            }
            .item.west .text {
                transform: translate3d(0, 0, 0) rotate(0deg);
            }
            .item.south .text {
                transform: translate3d(0, 0, 0) rotate(0deg);
            }
            .item.east .text {
                transform: translate3d(0, 0, 0) rotate(0deg);
            }
        }

        .item {
            font-size: 12px;
            color: color(white);
            position: absolute;
            
            .text {
                display: block;
                transform: translate3d(0, 0, 0) rotate(0deg);
                backface-visibility: hidden;
                transition: transform 1s ease;
            }

            &.north {
                top: -36px;
                left: 50%;
                transform: translateX(-50%);

                &:after {
                    content: "";
                    position: absolute;
                    background: color(white);
                    width: 1px;
                    height: 19px;
                    top: 21px;
                    left: 50%;
                    backface-visibility: hidden;
                    transform: translate3d(-50%, 0%, 0%);
                }
            }
            &.south {
                bottom: -36px;
                left: 50%;
                transform: translateX(-50%);

                &:after {
                    content: "";
                    position: absolute;
                    background: color(white);
                    width: 1px;
                    height: 19px;
                    bottom: 21px;
                    left: 50%;
                    backface-visibility: hidden;
                    transform: translate3d(-50%, 0%, 0%);
                }
            }
            &.west {
                left: -34px;
                top: 50%;
                transform: translateY(-50%);
                &:after {
                    content: "";
                    position: absolute;
                    background: color(white);
                    height: 1px;
                    width: 19px;
                    left: 19px;
                    top: 50%;
                    backface-visibility: hidden;
                    transform: translate3d(0%, -50%, 0%);
                }
            }
            &.east {
                right: -29px;
                top: 50%;
                transform: translateY(-50%);
                &:after {
                    content: "";
                    position: absolute;
                    background: color(white);
                    height: 1px;
                    width: 19px;
                    right: 14px;
                    top: 50%;
                    backface-visibility: hidden;
                    transform: translate3d(0%, -50%, 0%);
                }
            }
        }
    }

    .tooltip {
        position: absolute;
        background: rgba(255, 255, 255, .69);
        border: 2px solid color(white);
        padding: 15px 20px;
        padding-bottom: 0;
        transform: translateX(0%) translateY(0%);

        .number {
            color: color(text-dark-blue);
            font-size: 24px;
            font-weight: 600;
            font-family: "Avenir Roman";
            padding-bottom: 15px;
        }
        //transition: transform .2s ease;

        .text {
            color: color(text-dark-blue);
            overflow: hidden;
            height: auto;
            width: auto;
            font-size: 0px;
            line-height: 1.1em;
            padding-bottom: 0;

            &:hover {
            	cursor: default;
            }
            //transition: font-size .2s, padding-bottom .2s ease;
        }

        &:hover {
            .text {
                padding-bottom: 15px;
                font-size: 14px;
            }
        }
        
        .arrow {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;

            &:after, &:before {
                content: "";
                position: absolute;
                background: color(white);
            }
            &:after {
                width: 2px;
                height: 11px;
            }
            &:before {
                width: 2px;
                height: 14px;
            }
        }

        &.top-left {
            border-top: none;
            &:after {
                content: "";
                position: absolute;
                top: -2px;
                right: -2px;
                width: calc(100% - 5px);
                height: 2px;
                background: color(white);
            }
            .arrow {
                transform: rotate(-180deg);
                top: -10px;
                left: 0;
                border-width: 0 9px 10px 0;
                border-color: transparent rgba(255, 255, 255, .69) transparent transparent;
                &:after {
                    top: 0;
                    right: -11px;
                }
                &:before {
                    transform: rotate(-40deg);
                    top: -2px;
                    right: -7px;
                }
            }
        }
        &.bottom-right {
            border-bottom: none;
            &:after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: -2px;
                width: calc(100% - 5px);
                height: 2px;
                background: color(white);
            }
            .arrow {
                bottom: -10px;
                right: 0;
                border-width: 0 9px 10px 0;
                border-color: transparent rgba(255, 255, 255, .69) transparent transparent;
                &:after {
                    top: 0;
                    right: -11px;
                }
                &:before {
                    transform: rotate(-40deg);
                    top: -2px;
                    right: -7px;
                }
            }
        }
        &.bottom-left {
            border-bottom: none;
            &:after {
                content: "";
                position: absolute;
                bottom: -2px;
                right: -2px;
                width: calc(100% - 6px);
                height: 2px;
                background: color(white);
            }
            .arrow {
                bottom: -10px;
                left: 0;
                border-width: 10px 9px 0 0;
                border-color: rgba(255, 255, 255, .69) transparent transparent transparent;
                &:after {
                    top: -10px;
                    right: 0px;
                }
                &:before {
                    transform: rotate(40deg);
                    top: -11px;
                    right: -5px;
                }
            }
        }
        &.top-right {
            border-top: none;
            &:after {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                width: calc(100% - 6px);
                height: 2px;
                background: color(white);
            }
            .arrow {
                transform: rotate(180deg);
                top: -10px;
                right: 0;
                border-width: 10px 9px 0 0;
                border-color: rgba(255, 255, 255, .69) transparent transparent transparent;
                &:after {
                    top: -10px;
                    right: 0px;
                }
                &:before {
                    transform: rotate(40deg);
                    top: -11px;
                    right: -5px;
                }
            }
        }

        &.bottom-right:hover {
            transform: translateX(calc(-100% + 59px)) translateY(calc(-100% + 52px));
        }
        &.bottom-left:hover {
            transform: translateX(0) translateY(calc(-100% + 52px));
        }
        &.top-left:hover {
            transform: translateX(0) translateY(0);
        }
        &.top-right:hover {
            transform: translateX(calc(-100% + 59px)) translateY(0);
        }
    }
}

@include media-below($break-medium) {
	.about-slides-wrap {
		display: none;
	}
}