// ==== MENUS ==== //

.page-header {
    background-color: color(header-color);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &.home-page {
        height: calc(100vh - 50px);
        min-height: 700px;
    }
    
    @include media-below($break-small) {
        &.home-page {
            height: calc(100vh - 120px);
        }
    }

    &.home-page {
        @include media-below($break-large) {
        }
        @include media-below($break-medium) {
            min-height: 0;
            background: url('img/index_tablet.jpg') no-repeat right top !important;
            background-size: cover !important;
        }
        @include media-below($break-small) {
            background: url('img/index_mobile.jpg') no-repeat right top !important;
            background-size: 100% auto !important;
        }
        .menu-content {
            height: 85px;
            position: relative;
            z-index: 5;
            .logo {
                background: url('img/logo.svg') no-repeat left bottom;
                background-size: 220px auto;
                min-width: 220px;
                a {
                    width: 220px;
                }
            }
        }
    }
    &.fixed-menu {
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity .3s ease, transform .3s ease;
        &.show {
            opacity: 1;
            transform: translateY(0%);

        }
    }
    &.page {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 6;
        .menu-content {
            height: 65px;
            .logo {
                background: url('img/logo.svg') no-repeat left center;
                background-size: 165px auto;
                @include media-below($break-medium) {
                    background: url('img/logo_m.svg') no-repeat left center;
                    background-size: 165px auto;
                    top: 0;
                    min-width: 165px;
                    max-width: 165px;
                    width: 165px;
                }
            }
            .burger-menu-icon {
                top: 20px;
            }  
            .menu-holder {
                .menu-item {
                    margin-bottom: 0;
                    padding-bottom: 5px;
                    

                    
                    &.active:after {
                        width: 100%;
                    }
                    &:not(.active):after {
                        @keyframes menu-line-out {
                            0% { width: 100%;}                   
                            100% { width: 0%;}                   
                        }
                        width: 0%;
                        animation-name: menu-line-out;
                        animation-duration: .4s;
                    }
            
                    &:not(.active):hover {
                        @keyframes menu-line-in {
                            0% { width: 0%;}                   
                            30% { width: 100%;}                   
                            50% { width: 80%;}                   
                            70% { width: 100%;}                   
                            90% { width: 95%;}                   
                            100% { width: 100%;}                   
                        }
                        &:after {
                            animation-name: menu-line-in;
                            animation-duration: .6s;
                            animation-fill-mode: forwards;
                        }
                    }
                    &:after {
                        height: 7px;
                    }
                }
            }
        }
    }

    .menu-content {
        display: flex;
        flex-flow: row no-wrap;
        justify-content: flex-end;

        @include media-below($break-medium) {
            justify-content: space-between;
        }

        .logo {
            flex-grow: 1;
            background: url('img/logo.svg') no-repeat left bottom;
            background-size: 220px auto;
            min-width: 220px;
            height: 100%;

            position: relative;

            a {
                position: absolute;
                width: 220px;
                height: 100%;
            }

            @include media-below($break-medium) {
                background: url('img/logo_m.svg') no-repeat left bottom !important;
                background-size: 165px auto !important;
                max-width: 165px !important;
                top: -25px !important;
                a {
                    width: 165px !important;
                }
            }
        }

        .menu-holder {
            display: flex;
            flex-direction: row;
            align-items: bottom;
            color: color(white);
            font-family: "Avenir Roman";
            letter-spacing: 0.05em;
            .menu-item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: 10px;
                margin-left: 45px;
                &:nth-child(1) {
                    margin-left: 0;
                }

                @keyframes menu-line-out {
                    0% { width: 100%;}                   
                    100% { width: 0%;}                   
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: color(light-green);
                    animation-name: menu-line-in;
                    animation-duration: .6s;
                    animation-fill-mode: forwards;

                }
        
                &:not(.active):hover {
                    &:after {
                        animation-name: menu-line-out;
                        animation-duration: .4s;
                        animation-fill-mode: forwards;
                    }
                }


                a {

                    display: inline-block;
                    min-width: 95px;
                    height: 16px;
                    padding-top: 18px;
                    padding-bottom: 18px;
                }
            }

            @include media-below($break-medium) {
                display: none;
            }
        }

    }


    .sub-menu-wrap {
        width: 100%;
        min-height: 41px;
        box-sizing: border-box;
        border-bottom: 1px solid color(grey);
        text-align: center;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background: color(white);

        font-family: "Avenir", Arial;
        font-size: 14px;
        color: color(text-blue);
        letter-spacing: 0.05em;
        transition: height .3s, min-height .3s, border-bottom .3s ease;

        @include media-below($break-small) {
            display: none;
        }
        .sub-menu-item {
            line-height: 40px;
            height: 41px;
            flex-grow: 1;
            position: relative;
            min-width: 150px;
            background: color(white);

            transition: color 0s ease;
            &.active, &:hover {
                color: color(light-green);
            }

            &:before {
                content: "";
                position: absolute;
                top: 10px;
                left: 0px;
                width: 1px;
                height: 20px;
                background: color(grey);
            }
            &:nth-child(1) {
                &:before {
                    width: 0;
                }
            }
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: color 0s ease;
            }
        }
    }


    .map-svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        svg {
            width: 60%;
            height: auto;
            position:absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

        }
    }

    @include media-below($break-medium) { 
        .map-svg, .circle-holder, .slider-clouds, .text-circle-wrapper, .text-circle, .map-popup-holder {
            display: none;
        }
    }
    .circle-holder {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: visible;

        .circle {
            border: 1px solid #2f457f;
            border-radius: 50%;
            width: 1200px;
            height: 1200px;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            
            $circle-1-bg-0: rgba(30, 42, 74, 0);
            $circle-1-bg-1: rgba(30, 42, 74, .8);

            $circle-2-bg-0: rgba(32, 47, 85, 0);
            $circle-2-bg-1: rgba(32, 47, 85, .8);

            $circle-3-bg-0: rgba(32, 48, 89, 0);
            $circle-3-bg-1: rgba(32, 48, 89, .8);

            &.circle-1 {            
                box-shadow: 0px 0px 150px 150px $circle-1-bg-1;
                z-index: 3;
            }
            &.circle-2 {            
                box-shadow: 0px 0px 150px 150px $circle-2-bg-1;
                z-index: 2;
            }
            &.circle-3 {            
                box-shadow: 0px 0px 150px 150px $circle-2-bg-1;
                z-index: 1;
            }             

            transform: translate3d(-50%, -50%, 0) scale(0);
            transition: opacity .3s, transform 3s ease-out;

        }
        @keyframes circle-animation {
            0% { 
                opacity: 0; 
                transform: translate3d(-50%, -50%, 0) scale(0);
            }                   
            5% { 
                opacity: 1; 
            }                                      
            100% { 
                opacity: .8;
                transform: translate3d(-50%, -50%, 0) scale(1); 
            }                   
        }
        &.animate {
            .circle-1 {
                width: 64vw;
                height: 64vw;
                animation-name: circle-animation;
                animation-duration: 3s;
                animation-delay: 1.5s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.27,.66,.24,1);

            }
            .circle-2 {
                width: calc(64vw - 80px);
                height: calc(64vw - 80px);
                animation-name: circle-animation;
                animation-duration: 4s;
                animation-delay: 2s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.27,.66,.24,1);
            }
            .circle-3 {
                width: calc(64vw - 200px);
                height: calc(64vw - 200px);
                animation-name: circle-animation;
                animation-duration: 5s;
                animation-delay: 2.5s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.27,.66,.24,1);
            }
        }
    }
    .slider-clouds {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('img/map/clouds.png') no-repeat left center;
        background-size: cover;
        opacity: 1;
        z-index: 4;
    }

    .slider-overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: color(header-color);
        z-index: 6;
    }
    
    $circle-r: 62px;
    $circle-border: 2px;
    $circle-animation: 1s;

    .text-circle-wrapper {
        width: $circle-r;
        height: $circle-r;
        position: absolute;
        clip: rect(0px, $circle-r, $circle-r, ($circle-r/2)); 
        z-index: 4;
        bottom: 200px;

        .text-block {
            width: $circle-r - (2 * $circle-border);
            height: $circle-r - (2 * $circle-border);
            border-radius: 50%;
            background: #21315d;
            text-align: center;
            position: relative;
            top: $circle-border;
            left: $circle-border;
            opacity: 0;

            transition: opacity .3s ease-in;
            .text-holder {
                font-family: 'Avenir Roman';
                font-size: 12px;
                color: color(white);
                text-transform: uppercase;
                letter-spacing: 0.075em;
                line-height: 14px;
                width: 38px;

                position: relative;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                .small {
                    font-size: 8px;
                    line-height: 12px;
                    letter-spacing: 0.05em;
                }
            }

        }
    }
    .text-circle {
        width: $circle-r - (2 * $circle-border);
        height: $circle-r - (2 * $circle-border);
        border: $circle-border solid #4262b8;
        border-radius: 50%;
        position: absolute;
        clip: rect(0px, ($circle-r/2), $circle-r, 0px);
    }
    @keyframes close-wrapper {
        to { clip: rect(0px, $circle-r, $circle-r, 0px); }
    }

    div[data-anim~=base] {
        animation-iteration-count: 1; 
        animation-fill-mode: forwards; 
        animation-timing-function:linear;
    }

    .text-circle-wrapper[data-anim~=wrapper].animate {
        animation-duration: 0.01s;
        animation-delay: ($circle-animation/2); /* Wait half of the animation */
        animation-name: close-wrapper;
        .text-circle[data-anim~=left] {
            animation-duration: $circle-animation; /* Full animation time */
            animation-name: left-spin;
        }

        .text-circle[data-anim~=right] {
            animation-duration: ($circle-animation/2); /* Half animation time */
            animation-name: right-spin;
        }
        .text-block {
            opacity: 1;
            transition: opacity .3s $circle-animation ease-in;
        }
    }

    @keyframes right-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(180deg); }
    }
    @keyframes left-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    @keyframes map-popup {
        0% { opacity: 0; transform: translateY(-100%); }
        100% { opacity: 1; transform: translateY(0%); }
    }
    .map-popup-holder {
        position: absolute;
        width: 147px;
        height: 56px;
        z-index: 4;
        &.animate {
            .map-popup {
                animation-duration: .4s;
                animation-name: map-popup;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
            }
        }
    }
    .map-popup {
        position: relative;
        width: 147px;
        height: auto;
        border: 2px solid color(white);
        background: rgba(255,255,255, .52);
        border-bottom: none;
        opacity: 0;
        transform: translateY(-100%);
        top: 0;
        transition: top .2s ease;

        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            width: calc(100% - 13px);
            height: 2px;
            background: color(white);
        }

        .arrow {
            position: absolute;
            right: 0;
            bottom: -12px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 12px 12px 0;
            border-color: transparent rgba(255,255,255, .52) transparent transparent;

            &:before {
                content: "";
                position: absolute;
                height: 14px;
                width: 2px;
                background: color(white);
                right: -14px;
                top: 0;
            }
            &:after {
                content: "";
                position: absolute;
                height: 21px;
                width: 2px;
                background: #FFF none repeat scroll 0% 0%;
                right: -7px;
                top: -4px;
                transform: rotate(-45deg);
            }
        }

        .logo {
            width: 100%;
            height: 56px;
            background: url('img/logo_blue.svg') no-repeat center;
            background-size: 113px 30px;
        }
        .text {
            color: #1d2845;
            font-size: 13px;
            letter-spacing: 0.075em;
            line-height: 1.2em;
            padding-left: 15px;

            height: 0px;
            overflow: hidden;

            transition: height .2s ease;
        }

        &:hover {
            top: -45px;
            cursor: pointer;
            .text {
                height: 45px;
            }
        }
    }



    .main-slide-wrap {
        z-index: 4;
        position: relative;
        top: 90px;

        &.animate {
            .header, .content, .read-more {
                opacity: 1;
                transform: translateX(0%);
            }
        }

        .header {
            transition: opacity .2s ease, transform .3s cubic-bezier(.17,.67,.46,1);
        }
        .content {
            transition: opacity .2s .1s ease, transform .3s .1s cubic-bezier(.17,.67,.46,1);
        }
        .read-more {
            transition: opacity .2s .2s ease, transform .3s .2s cubic-bezier(.17,.67,.46,1);
        }

        .header, .content, .read-more {
            transform: translateX(-10%);
            opacity: 0;
        }
        .header {
            background-color: transparent !important;
            font-family: 'Avenir Roman';
            max-width: 590px;
            font-size: 65px;
            color: #0cc883;
            line-height: 1.0em;
            letter-spacing: 0.025em;
            font-weight: 100;
        }
        .content, .read-more {
            padding-left: 2 * $spacer;
        }

        .content {
            margin-top: $spacer; 
            font-size: 18px;
            letter-spacing: 0.05em;
            line-height: 30px;
            color: color(white);
            a {
                color: color(white);

                transition: color .3s ease;

                &:hover {
                    color: color(light-green);
                }
            }
        }
        .read-more {
            color: color(white);
            margin-top: $spacer;
        }
    }

    @include media-below($break-medium) {
        .main-slide-wrap {
            .content, .read-more {
                display: none;
            }
        }
    }
    @include media-below($break-small) {
        .main-slide-wrap {
            top: 50px;
            .header {
                font-size: 35px;
            }
        }
    }

}

.burger-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: color(burger-menu-bg);
    display: block;
    
    z-index: 100; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition: opacity .2s ease-out, transform 0s .2s linear;

    &.active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity .2s ease-in, transform 0s linear;
    }
    @include media-below($break-small) {
        justify-content: flex-start;
        overflow: scroll;
    }
    .burger-menu {
        margin-bottom: 110px;

        margin-bottom: 20px;
        margin-top: 30px;
        .burger-menu-column {
            margin-bottom: 20px;
            .burger-menu-column-header {
                margin-bottom: 15px;
                font-size: 18px;
            }
            .burger-menu-column-list-item {
                margin-bottom: 5px;
            }
            a {        
                color: color(white);

                transition: color .3s ease;
                &:hover {
                    color: color(light-green);
                }
            }
        }
    }

    .content-wrap {
        color: color(white);
    }

    .burger-contacts {
        position: relative;
        @include media-below($break-small) {
            padding-bottom: 100px;
        }

        &:before {
            content: "";
            postition: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 50px);
            height: 1px;

            background: color(burger-menu-border);
        }
        
        .contact-info-block {        
            padding-top: 45px;
            margin-top: 30px;
            background-position: 0 top !important;
            &.info-rows {
                background: url('img/location_pin.svg') no-repeat;
            }
            &.link-rows {
                background: url('img/message.svg') no-repeat;
            }
            &.linkedin {
                background: url('img/linkedin.svg') no-repeat;
            }

            .underlinpope {
                text-decoration: underline;
            }
        }
    }
}


 .burger-menu-icon {
    width: 35px;
    height: 26px;
    margin-left: 40px;

    position: relative;
    top: 48px;
    cursor: pointer;
    opacity: 0;
    z-index: 110; 
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    
    transition: opacity .3s, top .3s ease;
    
    @include media-below($break-small) {
        margin-left: 0px;
    }
    &.show {
        opacity: 1;
    }

    &:before, &:after, span {
        position: absolute;
        background: color(white);
        width: 35px;
        height: 2px;
        left: 0;

        opacity: 1;
        transform: rotate(0deg);
        transform-style: preserve-3d;
    }
    &:before, &:after {
        content: "";
        transition: transform .3s ease-out, top .3s ease-out, bottom .3s ease-out;
    }
    &:before {
        top: 0;
    }
    span {
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        opacity: 1;
        transition: width .3s, opacity .4s ease-out;
    }
    &:after {
        bottom: 0;
    }

    @keyframes burger-top-line-in {
        50% { top: 12px; transform: rotate(0deg);}                   
        100% { transform: rotate(-45deg); top: 12px;}
    }
    @keyframes burger-bottom-line-in {
        50% { bottom: 12px; transform: rotate(0deg);}                   
        100% { transform: rotate(45deg); bottom: 12px;}
    }
    @keyframes burger-middle-line-in {
        48% { opacity: 1; width: 100%; }                   
        50% { opacity: 0; width: 0%; }                   
        100% { opacity: 0; width: 0%; }                   
    }

    @keyframes burger-top-line-out {
        0% { top: 12px; transform: rotate(-45deg);}                   
        50% { top: 12px; transform: rotate(0deg);}                   
        100% { top: 0px;}
    }
    @keyframes burger-bottom-line-out {
        0% { bottom: 12px; transform: rotate(45deg);}
        50% { bottom: 12px; transform: rotate(0deg);}
        100% { bottom: 0px;}                   
    }
    @keyframes burger-middle-line-out {
        100% { opacity: 1; width: 100%; }                   
        50% { opacity: 1; width: 100%; }                   
        0% { opacity: 0; width: 0%; }                   
    }
    
    &.clicked {            
        &:before {
            animation-name: burger-top-line-out;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }
        &:after {
            animation-name: burger-bottom-line-out;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }
        span {
            animation-name: burger-middle-line-out;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }
    }
    &.active {  
        &:before {
            animation-name: burger-top-line-in;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }
        &:after {
            animation-name: burger-bottom-line-in;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }
        span {
            animation-name: burger-middle-line-in;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }
    }

    &:hover:not(.active) {
        &:before {
            top: -6px;
        }
        &:after {
            bottom: -6px;
        }
    }

    &.position {
        cursor: default;
        opacity: 0;
    }
    .fixed-menu {
        opacity: 0;
    }
    &.real {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 200;

        &.hide {
            opacity: 0;
        }
    }
}

.page-header.fixed-menu {
    .burger-menu-icon {
        &.position {
            opacity: 0;
            cursor: pointer;
        }
    }
}