
.location-buttons {
	width: auto;
	padding: 0 $spacer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	display: none;
    margin-bottom: $spacer;
	.location-button {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		justify-content: center;

		min-width: 20%;
		height: auto;
		color: #1f467e;
		font-size: 14px;
		line-height: 1.2em;
		letter-spacing: 0.01em;
		border-top: 2px solid #0dc683;
		border-bottom: 2px solid #0dc683;
		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;
		cursor: pointer;
		margin-right: 10px;

		&.active {
			color: color(light-green);
		}
		&:nth-last-child(1) {
			margin-right: 0;
		}
	}
	&.about {
		margin-top: 2 * $spacer;
	}
}

.mobile-content-popup-wrap {
	position: relative;
	display: none;
}
@include media-below($break-medium) {
	.mobile-content-popup-wrap {
		display: block;
	}
	.location-buttons {
		display: flex;
	}
}
.mobile-content-popup {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
    opacity: 0;
	transition: opacity .3s ease-in;

	&.active {
		opacity: 1;
	}

	.content {
		height: auto;
        .pop-content {
            height: 100%; 
        }
        .image {
            height: 0;
            padding-bottom: 88.28125%;
            background-size: cover;
            @include media-below($break-medium) {
                padding-bottom: 47%;
            }
            @include media-below($break-small) {
                padding-bottom: 67.6%;
            }
        }

        .text {
            display: block;
        }
	}

    &.kaunas {
        .content {
            .image {
                background: url('img/mobile_popup/kaunas.jpg') no-repeat center;
                background-size: cover;
            }
        }
    }
    &.e67 {
        .content {
            .image {
                background: url('img/mobile_popup/e67.jpg') no-repeat center;
                background-size: cover;
            }
        }
    }
    &.e85 {
        .content {
            .image {
                background: url('img/mobile_popup/e85.jpg') no-repeat center;
                background-size: cover;
            }
        }
    }
	&.aerohub {
		.content {
            .image {
                background: url('img/mobile_popup/hub.jpg') no-repeat center;
                background-size: cover;
            }
		}
	}
	&.via_baltica {
		.content {
            .image {
                background: url('img/location_map/baltica.png') no-repeat center;
                background-size: cover;
            }
		}
	}
	&.europien_gauge {
		.content {
            .image {
                background: url('img/location_map/euro.png') no-repeat center;
                background-size: cover;
            }
		}
	}
    &.rail_roads {
        .content {
            .image {
                padding-bottom: 88.28125% !important;
                background: url('img/location_map/rail_roads.jpg') no-repeat center;
                background-size: cover;
            }
        }
    }
    &.international_roads {
        .content {
            .image {
                padding-bottom: 88.28125% !important;
                background: url('img/location_map/international_roads.jpg') no-repeat center;
                background-size: cover;
            }
        }
    }
	&.russian_gauge {
		.content {
            .image {
                background: url('img/location_map/russian.png') no-repeat center;
                background-size: cover;
            }
		}
	}
    
    @include media-below($break-small) {    
        &.rail_roads {
            .content {
                .image {
                    padding-bottom: 138% !important;
                    background: url('img/location_map/rail_roads_mob.jpg') no-repeat center;
                    background-size: cover;
                }
            }
        }
        &.international_roads {
            .content {
                .image {
                    padding-bottom: 138% !important;
                    background: url('img/location_map/international_roads_mob.jpg') no-repeat center;
                    background-size: cover;
                }
            }
        }
    }

    @include media-below($break-medium) {    
        &.north {
            .content {
                .image {
                    background-image: url('img/about/about-tablet-north.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }
        }
        &.east {
            .content {
                .image {
                    background-image: url('img/about/about-tablet-east.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }
        }
        &.south {
            .content {
                .image {
                    background-image: url('img/about/about-tablet-south.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }
        }
        &.west {
            .content {
                .image {
                    background-image: url('img/about/about-tablet-west.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
    @include media-below($break-small) {    
        &.north {
            .content {
                .image {
                    background-image: url('img/about/about-mob-north.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }
        }
        &.east {
            .content {
                .image {
                    background-image: url('img/about/about-mob-east.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }       
        }
        &.south {
            .content {
                .image {
                    background-image: url('img/about/about-mob-south.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }
        }
        &.west {
            .content {
                .image {
                    background-image: url('img/about/about-mob-west.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
}