.news-block {
    height: 620px;
    position: relative;
    .block-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right top;

        &.desktop-bg {
            display: block;
        }
        &.mobile-bg {
            display: none;
        }
    }

    &.hide {
        .news-block-content { 
            .news-date, .news-title, .news-content, .read-more {
                transform: translateX(-10%);
                opacity: 0;
                transition: opacity .2s ease, transform .3s cubic-bezier(.17,.67,.46,1);
            }
        }
    }
    &.show {
        .news-block-content { 
            .news-date, .news-title, .news-content, .read-more {
                transform: translateX(0%);
                opacity: 1;
                transition: opacity .2s ease, transform .3s cubic-bezier(.17,.67,.46,1);
            }
        }

    }
    .gradient-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        opacity: 1;
        transform: translateX(0%);

        /* autoprefixer: off */
        background: -moz-linear-gradient(-45deg,  rgba(241,241,241,1) 0%, rgba(241,241,241,1) 45%, rgba(241,241,241,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(45%,rgba(241,241,241,1)), color-stop(100%,rgba(241,241,241,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-60deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 45%,rgba(241,241,241,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 45%,rgba(241,241,241,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 45%,rgba(241,241,241,0) 100%); /* IE10+ */
        background: linear-gradient(120deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 45%,rgba(241,241,241,0) 100%); /* W3C */
        /* autoprefixer: on */

    }

    @include media-below($break-medium) {
        height: 665px;
        .block-bg {        
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center bottom;
            &.desktop-bg {
                display: none;
            }
            &.mobile-bg {
                display: block;
            }
        }
        .gradient-mask {
            /* autoprefixer: off */
            background: -moz-linear-gradient(180deg,  rgba(241,241,241,1) 0%, rgba(241,241,241,1) 70%, rgba(241,241,241,0) 90%, rgba(241,241,241,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, bottom top, color-stop(0%,rgba(241,241,241,1)), color-stop(70%,rgba(241,241,241,1)), color-stop(90%,rgba(241,241,241,0)), color-stop(100%,rgba(241,241,241,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(180deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,0.9) 70%,rgba(241,241,241,0) 90%,rgba(241,241,241,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(180deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 70%,rgba(241,241,241,0) 90%,rgba(241,241,241,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(180deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 70%,rgba(241,241,241,0) 90%,rgba(241,241,241,0) 100%); /* IE10+ */
            background: linear-gradient(180deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,0.9) 70%,rgba(241,241,241,0) 90%,rgba(241,241,241,0) 100%); /* W3C */
            /* autoprefixer: on */

        }
    }
    @include media-below($break-small) {
        height: 425px;
    }
}

.news-block-content { 
    color: color(text-blue);
    padding-top: 25px !important;
    margin-top: 90px !important;
    position: relative;
    z-index: 2;
    .news-date {
        font-family: 'Avenir';
        font-size: 12px;
        letter-spacing: 0.025em;
    }
    .news-title {
        line-height: 0em;
        margin-top: 10px;
        margin-bottom: 25px;
        display: block;
        width: auto;
        max-width: 50%;

        h3 {
            line-height: 1.2em;
            margin: 0;
        }
        @include media-below($break-small) {
            margin-bottom: 25px;
        }
    }
    .news-content {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.025em;
        padding-left: 2 * $spacer;
        max-width: 490px;
    }

    .read-more {
        padding-left: 2 * $spacer;
        margin-top: 25px;
        position: relative;
        left: -5px;
    }
    
    .news-date, .news-title, .news-content, .read-more {
        opacity: 0;
        transform: translateX(0%);
        opacity: 1;
        transition: opacity .2s ease, transform .3s cubic-bezier(.17,.67,.46,1);
    }
    
    $speed: .4s;
    .news-date {
        transition: transform $speed .1s, opacity $speed .1s cubic-bezier(.17,.67,.46,1);
    }
    .news-title {
        transition: transform $speed, opacity $speed cubic-bezier(.17,.67,.46,1);
    }
    .news-content {
        transition: transform $speed, opacity $speed cubic-bezier(.17,.67,.46,1);
    }

    .read-more {
        transition: transform $speed .1s, opacity $speed .1s cubic-bezier(.17,.67,.46,1);
    }


    @include media-below($break-large) {
        .news-content, .read-more {
            padding-left: $spacer;
        }   
    }

    @include media-below($break-medium) {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 20px !important;
        margin-top: 35px !important;
        .news-title {
            padding-left: 0;
            max-width: 100%;
            width: 100%;
        }
        .news-content {
            display: none;
        }

        .read-more {
            display: none;
        }
    }
}
