
.page-top-slider-wrap {
    width: 100%;
    height: 465px;
    position: relative;
    .top-slider-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        /* autoprefixer: off */
        background: -moz-linear-gradient(-45deg,  rgba(241,241,241,1) 0%, rgba(241,241,241,1) 50%, rgba(241,241,241,0) 70%, rgba(241,241,241,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(70%,rgba(241,241,241,0)), color-stop(100%,rgba(241,241,241,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-60deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,0.9) 50%,rgba(241,241,241,0) 80%,rgba(241,241,241,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 50%,rgba(241,241,241,0) 70%,rgba(241,241,241,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 50%,rgba(241,241,241,0) 70%,rgba(241,241,241,0) 100%); /* IE10+ */
        background: linear-gradient(120deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,0.9) 50%,rgba(241,241,241,0) 75%,rgba(241,241,241,0) 100%); /* W3C */
        /* autoprefixer: on */
        background-size: cover;
        background-position: right bottom;
        z-index: 0;
        &.mobile {
            display: none;
        }
    }
    .gradient-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        /* autoprefixer: off */
        background: url('img/pilkas.png') no-repeat left center;
        background-size: cover;
    }
    @include media-below($break-small) {
        .top-slider-bg {
            &.desktop {
                display: none;
            }
            &.mobile {
                display: block;
            }
        }
        .gradient-block {
            /* autoprefixer: off */
            background: -moz-linear-gradient(180deg,  rgba(241,241,241,1) 0%, rgba(241,241,241,1) 50%, rgba(241,241,241,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, bottom top, color-stop(0%,rgba(241,241,241,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(100%,rgba(241,241,241,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(180deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 50%,rgba(241,241,241,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(180deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 50%,rgba(241,241,241,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(180deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 50%,rgba(241,241,241,0) 100%); /* IE10+ */
            background: linear-gradient(180deg,  rgba(241,241,241,1) 0%,rgba(241,241,241,1) 50%,rgba(241,241,241,0) 100%); /* W3C */
            /* autoprefixer: on */     
        }
    }
    .content-wrap {
        position: relative;
        padding-top: 70px;
        .main-header {
            font-size: 50px;
            line-height: 1.2em;
            letter-spacing: 0.01em;
            position: relative;
            padding-bottom: 25px;
            color: color(text-blue);
            max-width: 550px;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 95px;
                height: 2px;
                background: color(light-green);
            }

            @include media-below($break-large) {
                font-size: 45px;
            }
            @include media-below($break-small) {
                font-size: 30px;
            }

            &.show {
                opacity: 1;
                transform: translateX(0%);
            }
            &.hide {
                opacity: 0;
                transform: translateX(-10%);
            }

            transform: translateX(-10%);
            opacity: 0;
            transition: opacity .2s ease, transform .3s cubic-bezier(.17,.67,.46,1);
        }
        .slider-content {
            max-width: 525px;
            padding-left: 2 * $spacer;
            margin-top: 50px;
            
            &.show {
                opacity: 1;
                transform: translateX(0%);
            }
            &.hide {
                opacity: 0;
                transform: translateX(-10%);
            }

            transform: translateX(-10%);
            opacity: 0;
            transition: opacity .2s .1s ease, transform .3s .1s cubic-bezier(.17,.67,.46,1);

            @include media-below($break-medium) {
                padding-left: 0;
            }
            @include media-below($break-small) {
                margin-top: 40px;
            }
        }
    }
}