.pagination {
    width: calc(100% - 100px);
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 5px;
    padding-top: 15px;
    border-top: 1px solid #eeeeee;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-size: 12px;
    color: color(pagination-light);
    .pagination-item {
        width: 33.3%;
    }
    
    .current-page {
        text-align: center;
    }
    .next {
        text-align: right;
        color: color(pagination-dark);
    }
    
    @include media-below($break-small) {
        width: 100%;
    }
}

.post-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 0 30px;

    @include media-below($break-large) {
        padding: 0 10px;
        justify-content: center;
    }
    @include media-below($break-small) {
        padding: 0 0;
    }
}
.post-item {
    min-height: 330px;
    width: 335px;
    margin: 0 20px;
    margin-bottom: 45px;
    border: 1px solid #f1f1f1;
    background: #fcfcfc;
    position: relative;
    box-sizing: border-box;
    transition: background .3s ease;
    &.empty {
        min-height: 0;
        height: 0;
        margin: 0;
        padding: 0;
        border: none;
    }
    @include media-below($break-small) {
        margin-left: 0;
        margin-right: 0;
    }

    &:hover {
        background: #f6f6f6;
        .post-item-image {
            opacity: 1;
        }
    }

    .post-item-content-wrap {
        width: auto;
        height: auto;
        padding: 35px 22px;
        position: relative;
    }
    .post-item-image {
        height: 115px;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-bottom: 1px solid #f1f1f1;
        opacity: .8;
        transition: opacity .3s ease;
    }
    .post-item-title {
        color: color(text-blue);
        font-size: 20px;
        line-height: 1.4em;
    }
    .post-item-date {
        font-size: 11px;
        margin-top: 5px;
        padding-bottom: 15px;
        width: 100%;
        position: inherit;

        @include media-below(321px) {
            padding-bottom: 30px;
        }
    }
    .post-item-content {
        font-size: 14px;
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.recent-posts {
    //margin-left: 40px;
    min-width: $grid-column-large;
    padding-left: 2 * $spacer;
    margin-top: 5px;
    box-sizing: border-box;
    .header {
        color: color(recent-news-header);
        font-size: 18px;
        margin-bottom: 30px;
    }

}
@include media-below($break-large) {
    .recent-posts {
        width: $grid-column-medium;
        min-width: $grid-column-medium;
        padding-left: $spacer;
    }
}

@include media-below($break-medium) {
    .recent-posts {
        display: none;

    }
}

.recent-post-items {
    float: right;
    .post-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.single-post-content {
    display: flex;
    flex-direction: row;
    @include media-below($break-medium) {
        display: block !important;
        margin-bottom: 2 * $spacer;
    }
    @include media-below($break-small) {
        width: 100%;
    }
    .read-more {
        display: inline-block;
        margin-top: -15px;
        margin-bottom: 40px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        @include media-below($break-small) {
            display: inline-table;
        }
    }
}

.main-post-content {
    padding-left: 2 * $spacer;
    box-sizing: border-box;
    min-width: 2 * $grid-column-large;
    margin-bottom: 2 * $spacer;
    @include media-below($break-large) {
        padding-left: $spacer;
        min-width: 2 * $grid-column-medium;
        width: 2 * $grid-column-medium;
        flex: 2 * $grid-column-medium;
        margin-right: 2 * $spacer;
    }
    @include media-below($break-medium) {
        padding-left: 0;
        min-width: 100%;
    }
    @include media-below($break-small) {
        padding-left: 0;
        width: 100%;
        min-width: 100%;
    }

    .post-title {
        color: color(text-blue);
        font-size: 36px;
        line-height: 1.2em;
    }
    .post-date {
        margin-top: 15px;
        font-size: 11px;
    }
    .post-content {
        font-size: 14px;
        p {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        
        .image-wrap {
            width: 100%;
            height: 0px;
            padding-bottom: 58.8%;
            background: #fcfcfc;
            border: 1px solid #f1f1f1;
            position: relative;
            display: block;
            font-size: 0;
            overflow: hidden;
            a {
                margin: 0;
                padding: 0;
            }
        }
        img {
            max-height: 100%;
            width: 100%;
            height: auto;

            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        h1,h2,h3,h4,h5,h6 {
            color: color(text-blue);
            font-size: 20px;
            margin-top: 10px;
        }
    }
}

.share-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    .share-item {
        margin-right: 15px;

        &.google {
            max-width: 60px;
        }
    }
}