
.post-blocks {
    box-sizing: border-box;
    padding-bottom: 4 * $spacer;

    &.with-borders {
        .post-block {
            &:after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 290px;
                background: url('img/border.jpg') no-repeat center;
                background-size: cover;
            }
            &.empty, &:nth-child(3n + 3), &.last {
                &:after {
                    display: none;
                }
            }
            @include media-below($break-medium) {
                &:after {
                    display: none;
                }
            }
        }
    }

    @include media-below($break-small) {
        margin-top: 40px;
    }
}
.post-block {
    box-sizing: border-box;
    padding: 0 (2*$spacer);
    
    margin-bottom: 3 * $spacer;

    transform: translateY(0%);
    opacity: 1;

    position: relative;

    transition: transform .8s, opacity .4s ease-in;
    &.hide-up {
        transform: translateY(40%);
        opacity: 0;
    }
    &.hide-down {
        transform: translateY(-40%);
        opacity: 0;
    }
    &.show {
        transform: translateY(0%);
        opacity: 1;
    }
    
    &.empty {
        height: 0;
        margin: 0;
        padding: 0;
    }


    .block-image {
        width: 100%;
        height: 145px;
        position: relative;
        margin-bottom: 60px;
        img {
            height: auto;
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    .block-title {
        font-family: "Avenir";
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.025em;
        color: color(text-blue);
    }

    .block-content {
        margin-top: 40px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.025em;
    }
}

@include media-below($break-large) {
    .post-blocks {
        padding: 0 $spacer;
        padding-bottom: 1 * $spacer;
    }
    .post-block {
        padding: 0 $spacer;
        .block-image {
            height: 80px;
            margin-bottom: 30px;
            img {
                height: 100%;
            }
        }
        .block-content {
            margin-top: 15px;
        }
    }
}

@include media-below($break-medium) {
    .post-blocks {
        padding: 0 0;
        padding-bottom: 3 * $spacer;
    }
    .post-block {
        padding: 0 0;
        padding-left: $spacer-small;
        &:nth-child(3n + 1) {
            padding-left: 0;

        }
    }
}
@include media-below($break-small) {
    .post-block {
        padding: 0 0;
        max-width: $grid-column-large;
        margin-bottom: 2 * $spacer-small;
        .block-image {
            margin-bottom: $spacer-small;
        }
    }
}