.stats-graph-holder {
    width: 100%;
    padding: 0 (2 * $spacer);
    img {
        width: 100%;
        height: auto;
    }
    .mobile {
        display: none;
    }
}
.grid-row.padding {
    width: auto;
    padding: 0 (2* $spacer);
}


@include media-below($break-large) {
    .stats-graph-holder {
        padding: 0 $spacer;
    }
}

@include media-below($break-medium) {
    .stats-graph-holder {
        padding: 0 0;
    }
    .grid-row.padding {
        padding: 0 0;
    }
}

@include media-below($break-small) {
    .stats-graph-holder {
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
}