table {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 0 (2 * $spacer);
    box-sizing: border-box;
    
    tbody {
        width: 100%;
        display: block;
    }
    tr {
        display: flex;
        flex-flow: row;
        width: calc(100% - 0px);
        td {
            display: block;
            flex: 1 0 $grid-column-large;
            padding: 0 0;
            box-sizing: border-box;
        }

    }
    @include media-below($break-large) {
        width: 100%;
        padding: 0 $spacer;
        tr {   
            width: 100%;
            td {
                flex: 1 0 $grid-column-medium;
                padding-left: $spacer;
                &:nth-child(1) {
                    padding-left: 0;
                }
                &:nth-last-child(1) {
                    padding-left: 2 * $spacer;
                }
            }
        }
    }
    @include media-below($break-medium) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        tr {   
            width: 100%;
            td {
                flex: 1 0 $grid-column-small;
                padding-left: $spacer;
                &:nth-child(1) {
                    padding-left: 0;
                }
                &:nth-last-child(1) {
                    padding-left: $spacer;
                }
            }
        }
    }
    @include media-below($break-small) {
        width: 100%;
        tr {   
            justify-content: space-between;
            td {
                flex: 1 0 0;
                padding-left: 0;
                &:nth-child(1) {
                    padding-left: 0;
                }
                &:nth-last-child(1) {
                    padding-left: 0;
                }
            }
        }
    }


    tr {
        border-bottom: 1px solid color(table-border);
        font-size: 14px;
        letter-spacing: 0.01em;
        color: color(text);
        padding-top: 25px;
        padding-bottom: 10px;
        &:nth-child(1) {
            color: color(text-blue);
            font-size: 20px;
            border-bottom: 1px solid color(table-header-border);
            padding-bottom: 15px;
        }
    }
}

.table-legend, .block-legend {
    position: relative;
    margin-top: 60px;
    color: color(text);
    font-size: 11px;
    letter-spacing: 0.025em;
    padding-top: 10px;
    margin-bottom: 2*$spacer;
    margin-left: 2*$spacer;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 1px;
        background: color(light-green);
    }

    .table-legend-row {
        margin-bottom: 10px;
    }
    .legend-row {
        margin-bottom: 5px;
        font-weight: 100;
    }
    @include media-below($break-large) {
        margin-left: $spacer;
    }
    @include media-below($break-medium) {
        margin-left: 0;
    }
}

.block-legend {
    margin-top: 30px;
    margin-left: 0
}